<h1>Edit Message </h1>

  <div class="form">
    <%= form_for @message do |f| %>
      <%= f.text_field :description, :placeholder => "Edit Comment" %>
	  <%= f.submit "Update", class: "btn-submit" %><br>
    <% end %>