<div class="contacts_container">
      <ul>
  <% for i in @users %>
      <li><%= link_to image_tag(i.image, :class => "contact_pic"), user_path(i), method: "get", title: "#{i.first_name} #{i.last_name}", action: "show" %>
        <div class="contact_name">
            <%=i.first_name%> <%=i.last_name%>
        </div>
      </li>
  <% end %>
    </ul>
</div>
