  <body>
    <div class ="shuttle_background">
      <center><br> *Shuttles are located directly in front of the 2 Folsom and Mission Bay offices. Ask the front desk for assistance if you have any questions.*</center><br>
      <div class = "shuttle">
        <%= image_tag("shuttle.jpg", size: "718x925") %><br>
        <%= image_tag('http://missionbaytma.org/cms2/uploads/Image/2015%2006%2015%20transit%20connections.jpg', size: "718x925") %><br>
        <%= image_tag('http://missionbaytma.org/cms2/uploads/Image/BART%20Timetables-June%2015%202015.jpg', size: "718x925") %><br>
        <%= image_tag('http://missionbaytma.org/cms2/uploads/Image/Caltrain%20and%20TransBay%20Timetables-June%2015%202015.jpg', size: "718x925") %>
    </div>
  </body>
</html>

