<div class="application_container">
  <div class ="shuttle_background">
    <center><br> *Gap shuttles are located directly in front of the 2 Folsom and Mission Bay offices. Mission Bay shuttle locations are shown in map below. Ask the front desk for assistance if you have any questions.*</center><br>
    <div class = "shuttle">
      <%= image_tag("other/shuttle.jpg", size: "718x925") %><br>
      <%= image_tag('http://missionbaytma.org/cms2/uploads/Image/2015%2006%2015%20transit%20connections.jpg', size: "718x925") %><br>
      <%= image_tag('http://missionbaytma.org/cms2/uploads/Image/BART%20Timetables-June%2015%202015.jpg', size: "718x925") %><br>
      <%= image_tag('http://missionbaytma.org/cms2/uploads/Image/Caltrain%20and%20TransBay%20Timetables-June%2015%202015.jpg', size: "718x925") %>
  </div>

  <footer>
    <ul class="political">
      <li>
        <ul class="forms">
          <li>Forms |</li>
          <li>---------</li>
          <li><a href="assets/backgrounds/form.pdf">Form1</a></li>
          <li>Form2</li>
          <li>Form3</li>
        </ul>
      </li>
      <li> Terms of Use |</li>
      <li> Privacy Policy | </li>
      <li> &copy; 2016 Gap Inc.</li>
    </ul>
  </footer>
</div>



