<div id="benefits_container">
  <center><h1>Benefits<h1></center>
  <iframe src="assets/benefits/2014_guide.pdf"></iframe>
  <iframe src="assets/benefits/2014_Supplement.pdf"></iframe>
  <iframe src="assets/benefits/2015_med_chart.pdf"></iframe>
  <iframe src="assets/benefits/2015_rates.pdf"></iframe>
  <iframe src="assets/benefits/2014_MICAP.pdf"></iframe>
  <iframe src="assets/benefits/2014_Benefit_Contacts.pdf"></iframe>
</div>