<div id = "expect_container">
  <div class="expect_par">
    <h1>What to Expect...</h1>
    <p> "New teammates, new culture, new office, new ways of doing things- nothing is familiar at first. But that's part of the excitement that makes the first days here fly by. You've joined one of the leading retail companies in the world. You're surrounded by creative people who are passionate. The pace is fast, the possibilities seem endless and there are interesting challenges around every corner.</p>

    <p>One thing you learn early is that everyone who works at Gap Inc plays a vital role in keeping the business going and growing around the world. Whether you directly or indirectly interact with customer and products, there are plenty of ways to make a difference. </p>

    <p>We have created the Welcome Program to make it easy for you to learn everything you need to succeed. We'll make sure you know the important things like what you'll be working on and how it contributes to the big picture. We'll spend time on company history, values and structure. Welcome aboard! </p>

    <h3> What time does it start?</h3>
    <p>Our day starts at 9:00am sharp and concludes at 5:00pm. Please plan for an action packed day.</p>
    <h3>What will the first day cover</h3>
    <p>We have a lot of information to share with you! Topics include:<p>
    <ul>
      <li>Benefits and Payroll</li>
      <li>Company History</li> 
      <li>Cultures and Values</li>
      <li>Company Discount and Security</li> 
      <li>Compliance Training</li>
    <ul>
  </div>

  <div class="expect_img">
    <%=image_tag('expect/expect.jpg') %>
  </div>
</div>
