<div id = "ny_container">
  <div class="ny_par">
    <h1>New York</h1>
    <h4>What to wear</h4>
    <p>Remember to dress comfortably – show your NY style! Most people wear clothes similar to ones sold in our stores.</p>

    <h4>Don't forget your paperwork and identification</h4>
    <p>We will need to process your paperwork during your first week with us. Please bring all forms completed, signed and dated. Don't forget your proper identification! (Please see the "Lists of Acceptable Documents" on the back of the I-9)</p>

    <h4>On your way to work</h4>
    <p>There are several subway station lines close to our offices.</p>
    <h4>55 Thomas/between Church and West Broadway:</h4>
    <ul>
      <li> 1 at Franklin Street </li>
      <li> 2/3 or J/Z or A/C/E at Chambers Street</li>
      <li> 4/5/6 at Brooklyn Bridge/City Hall </li>
      <li> R City Hall </li>
      <li> PATH train to the World Trade Center Station </li>
    </ul>

    <p>For additional train or bus schedules, visit <a href="http://www.mta.info">www.mta.info</a></p>
    <p>For additional directions: <a href="http://www.hopstop.com">www.hoptstop.com</a></p>
  </div>

  <div class="ny_img">
    <%=image_tag('expect/new_york.jpg') %>
  </div>
</div>