<div id = "sf_container">
  <div class="sf_par">
    <h1> San Francisco / Bay Area</h1>
    <h4>What to wear</h4>
    <p>Remember to dress comfortably for our fun and interactive Welcome Program- most people wear clothes similar to the ones sold in our stores.</p>

    <h4>You'll take your photo during Orientation</h4>
    <p>In the morning of the Welcome Program, Corporate Security will take your photo for your employment badge... smile!</p>

    <h4>Don't forget your paperwork and identification</h4>
    <p>We will need to process your paperwork the morning of the Welcome Program. Please bring all forms completed, signed and dated. Don't forget your proper identification! (please see the "Lists of Acceptable Documents" on the back of the I-9)</p>

    <h4>Where to park</h4>
    <p>Because you won't have your badge yet, you won't be able to park at Gap Inc parking lots, but there are several lots located near our 2 Folsom street headquarters building. Rates range from $15-30 per day and most lots open at 7:00 am.</p>

    <h4>Public transportation</h4>
    <p>There are several public transportation options to get to 2 Folsom Street including MUNI, BART and Ferries. Please check local websites for more information.</p>
  </div>

  <div class="sf_img">
    <%=image_tag('expect/golden_gate_bridge.jpg') %>
  </div>
</div>