<div class ="application_container">
  <div class = "expect_container">
    <div class="expect_par">
      <h1>What to Expect...</h1>
      <p> "New teammates, new culture, new office, new ways of doing things- nothing is familiar at first. But that's part of the excitement that makes the first days here fly by. You've joined one of the leading retail companies in the world. You're surrounded by creative people who are passionate. The pace is fast, the possibilities seem endless and there are interesting challenges around every corner.</p>

      <p>One thing you learn early is that everyone who works at Gap Inc plays a vital role in keeping the business going and growing around the world. Whether you directly or indirectly interact with customer and products, there are plenty of ways to make a difference. </p>

      <p>We have created the Welcome Program to make it easy for you to learn everything you need to succeed. We'll make sure you know the important things like what you'll be working on and how it contributes to the big picture. We'll spend time on company history, values and structure. Welcome aboard! </p>

      <h3> What time does it start?</h3>
      <p>Our day starts at 9:00am sharp and concludes at 5:00pm. Please plan for an action packed day.</p>
      <h3>What will the first day cover</h3>
      <p>We have a lot of information to share with you! Topics include:<p>
      <ul>
        <li>Benefits and Payroll</li>
        <li>Company History</li> 
        <li>Cultures and Values</li>
        <li>Company Discount and Security</li> 
        <li>Compliance Training</li>
      <ul>
    </div>

    <div class="expect_img">
      <%=image_tag('expect/expect.jpg') %>
    </div>
  </div>

  <div class = "ny_container">
    <div class="ny_par">
      <h1>New York</h1>
      <h4>What to wear</h4>
      <p>Remember to dress comfortably – show your NY style! Most people wear clothes similar to ones sold in our stores.</p>

      <h4>Don't forget your paperwork and identification</h4>
      <p>We will need to process your paperwork during your first week with us. Please bring all forms completed, signed and dated. Don't forget your proper identification! (Please see the "Lists of Acceptable Documents" on the back of the I-9)</p>

      <h4>On your way to work</h4>
      <p>There are several subway station lines close to our offices.</p>
      <h4>55 Thomas/between Church and West Broadway:</h4>
      <ul>
        <li> 1 at Franklin Street </li>
        <li> 2/3 or J/Z or A/C/E at Chambers Street</li>
        <li> 4/5/6 at Brooklyn Bridge/City Hall </li>
        <li> R City Hall </li>
        <li> PATH train to the World Trade Center Station </li>
      </ul>

      <p>For additional train or bus schedules, visit <a href="http://www.mta.info">www.mta.info</a></p>
      <p>For additional directions: <a href="http://www.hopstop.com">www.hoptstop.com</a></p>
    </div>

    <div class="ny_img">
      <%=image_tag('expect/new_york.jpg') %>
    </div>
  </div>

  <div class = "sf_container">
    <div class="sf_par">
      <h1> San Francisco / Bay Area</h1>
      <h4>What to wear</h4>
      <p>Remember to dress comfortably for our fun and interactive Welcome Program- most people wear clothes similar to the ones sold in our stores.</p>

      <h4>You'll take your photo during Orientation</h4>
      <p>In the morning of the Welcome Program, Corporate Security will take your photo for your employment badge... smile!</p>

      <h4>Don't forget your paperwork and identification</h4>
      <p>We will need to process your paperwork the morning of the Welcome Program. Please bring all forms completed, signed and dated. Don't forget your proper identification! (please see the "Lists of Acceptable Documents" on the back of the I-9)</p>

      <h4>Where to park</h4>
      <p>Because you won't have your badge yet, you won't be able to park at Gap Inc parking lots, but there are several lots located near our 2 Folsom street headquarters building. Rates range from $15-30 per day and most lots open at 7:00 am.</p>

      <h4>Public transportation</h4>
      <p>There are several public transportation options to get to 2 Folsom Street including MUNI, BART and Ferries. Please check local websites for more information.</p>
    </div>

    <div class="sf_img">
      <%=image_tag('expect/golden_gate_bridge.jpg') %>
    </div>
  </div>

</div>


