<div class="messages_content">
    <% @conversations.each do |f| %>
      <% if (f.sender_email == current_user.email and f.receiver_email == @user.email) or (f.sender_email == @user.email and f.receiver_email == current_user.email) %>
        <% if f.sender_email == current_user.email %>
          <div class="push-left"><%= f.comment%><br><%= "-" + "#{current_user.first_name}" + " " + "#{current_user.last_name}"%><br><br></div>
          <% elsif f.sender_email == @user.email %>
          <div class="push-right"><%= f.comment%><br><%= f.receiver_name %><br><br></div>
        <% end %>
      <% end %>
    <% end %>
</div>

