<div class="application_container">
  <% @hire_type_boards.each do |hire_type| %>
    <div class="board_banner">
      <%= link_to image_tag(hire_type.banner), hire_type_boards_path(hire_type)  %>
  <% end %>
</div>
