<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @hire_type_board.name %>
</p>

<%= link_to 'Edit', edit_hire_type_board_path(@hire_type_board) %> |
<%= link_to 'Back', hire_type_boards_path %>
