<div class="profile_container">
  <div class='profile_title'>
    <span><i class='title fa fa-user'></i>Profile</span>
  </div>
  <div class="profile_picture">
    <%= image_tag t.image, :class => "profile_pic"%>

  </div>



  <div class="about_container">
    <span> <%= t.about %> </span>
  </div>

</div>