<!DOCTYPE html>
<html>
  <head>
    <title>Sign Up</title>
  </head>

  <body>
   <% @users.each do |t| %>

   <h1><%= t.email %></h1>
   <%= link_to "profile", user_path(t), method: "get", action: "show" %>
   <% end %> 
  </body>
</html>