<div class ="application_container">
  <div class="home_shell">
    <div class="welcome_background">
      <div class="welcome_container">
        <div id="message">Welcome.</div>
    </div>
  </div>
        




        <!--<div class="word_list">

                      <i id="quote">"Together we transform the customer experience through retail, technology, and innovation."</i><br>
          <ul>
            <li>Listen</li>
            <li>Inspire</li>
            <li>Collaborate</li>
            <li>Deliver</li>
          </ul>
        </div> -->
      



      <a href="#welcome_video"><i class="fa fa-arrow-down"></i></a>


      <div class="video_wrapper">
      <div id="welcome_video"> 
        <img class="ratio" src="http://placehold.it/16x9"/>
        <iframe src="https://www.youtube.com/embed/v3CpPkmRw3o" frameborder="0" allowfullscreen></iframe>
      </div>
      </div>
  </div>
</div>