<div class="home_shell">
  <div id="message">Welcome to Gap Inc. <br>"Insert quote here." 
  </div> 

  <a href="#contact"><i class="fa fa-arrow-down"></i></a>

  <div id="welcome_video">
  </div>

</div>
