<div class="home_shell">
  <div class="welcome_background">
    <div class="welcome_container">
      <div id="message">Welcome to Gap Inc.</div>
      <i id="quote">"Together we transform the customer experience through retail, technology, and innovation."</i><br>
      </div>
      <div class="word_list">
        <ul>
          <li>Listen</li>
          <li>Insipre</li>
          <li>Collaborate</li>
          <li>Deliver</li>
        </ul>
      </div>

  </div>
    <a href="#welcome_video"><i class="fa fa-arrow-down"></i></a>

    <div class="video_wrapper">
    <div id="welcome_video"> 
      <img class="ratio" src="http://placehold.it/16x9"/>
      <iframe src="https://www.youtube.com/embed/v3CpPkmRw3o" frameborder="0" allowfullscreen></iframe>
    </div>
    </div>

</div>
