<!DOCTYPE html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
  <title>Welcome</title>
  </head>

    <body>
      <div class="container">
        <center>
          <div id="message">
            <h1>Welcome to Gap Inc.</h1>
            <h2>"Insert quote here"</h2>
          </div>
          
          <div id="login">  
            <%= link_to "Learn More", :controller => :login, :get => :index%>
          </div>
        </center>
      </div>
    </body>

</html>
