<div id= "aowen_container">
  <div class= "aowen_img">
    <%=image_tag('executives/AndiOwen.jpg')%>
  </div>
  <div class= "aowen_par">
    <h2>Andi Owen</h2>
    <h3>Banana Republic </h3>
    <h3>Global President</h3>

    <p>Andi Owen is Global President for Banana Republic, where she is responsible for managing all markets and channels for Banana Republic around the world. Prior to this, Andi served as executive vice president and General Manager of Global Gap Outlet, responsible for the value expression of Gap brand across North America, Europe and Asia.</p>

    <p>During her time with Gap Outlet, Andi and her team grew the business, expanded its reach beyond traditional outlet malls with the addition of urban locations. Andi has more than twenty-five years of apparel industry experience and is known for her strategic vision and commitment to developing world-class teams. She began her Gap Inc. career in 1991 and has held various leadership positions across the company including, SVP & GM for Banana Republic Factory Store, Divisional Merchandise Manager at Gap Inc. Direct for Old Navy, GM for Banana Republic Canada, and a variety of positions within the Banana Republic field organization, including Western Zone VP. </p>

    <p>Prior to joining Gap Inc., Andi worked for Bloomingdales where she held several cross-functional positions.</p>

    <p>Andi holds a B.A. in Art History from the College of William and Mary. Andi serves on the Gap Inc. Foundation Board.</p>

  </div>
</div>