<div id= "apeck_container">
  <div class= "apeck_img">
    <%=image_tag('executives/ArtPeck.jpg')%>
  </div>
  <div class= "apeck_par">
    <h2>Art Peck</h2>
    <h3>Gap Inc. </h3>
    <h3>Cheif Executive Officer</h3>

    <p>Art Peck is Gap Inc.'s Chief Executive Officer. He joined Gap Inc. in 2005 and has held senior leadership positions across nearly every area of the company.</p>

    <p>From 2012 to January 2015, Art served as President of the company’s Growth, Innovation and Digital (GID) division, with responsibility for the digital strategy of our more than $2 billion e-commerce business across the 80 countries where the company serves customers online. He drove the innovation agenda for the company across its digital platforms and more than 3,000 stores around the world.</p>

    <p>Ultimately, Art and his team developed and deployed the industry-leading, omni-channel platform for consumers to bridge the physical and digital shopping experience. In this broad operating role, Art guided the growth of the emerging brands Athleta, Piperlime and Intermix, which is particularly fitting given he led the internal efforts to acquire Athleta, in 2008, and Intermix, in 2012. </p>

    <p>In his prior role, Art served as president of Gap North America, with its fleet of more than 700 stores, from February 2011 to November 2012. A product resurgence during this period drew customers back to the company’s namesake brand and helped improve the division’s sales performance for six consecutive quarters during his tenure and thereafter.</p>

  </div>
</div>