<div id= "bsilten_container">
  <div class= "bsilten_img">
    <%=image_tag('executives/BobbiSilten.jpg')%>
  </div>
  <div class= "bsilten_par">
    <h2>Bobbi Silten</h2>
    <h3>Gap Inc.</h3>
    <h3>EVP, Global Talent & Sustainability</h3>

    <p>Bobbi Silten is Executive Vice President, Global Talent and Sustainability. In this role, Bobbi oversees social and environmental sustainability; human resources; government affairs, corporate communications and Gap Foundation.</p>

    <p>Since 2005, she has led Gap Foundation, overseeing its global community investments in women’s advancement and youth first jobs, and volunteer programs for employees worldwide. </p>

    <p>In early 2011, she was tapped to lead Gap Inc.’s Global Sustainability practice – encompassing vendor monitoring and capability building, environmental sustainability, global stakeholder partnerships and sustainable innovation.</p>

    <p>In 2011-2012, she served as a member of the White House Council for Community Solutions, which provided advice to President Obama on the best ways to mobilize citizens, nonprofits, businesses and government to work more effectively together to solve specific community needs. She co-led the Youth Employment Program working group, which developed the Connecting Youth & Business toolkit. She was a founding member of Reimagining Service, a five-year national cross-sector initiative to increase the impact of volunteerism, and served as the chair of the Reimagining Service Council until 2014.</p>

  </div>
</div>