<div id= "jrao_container">
  <div class= "jrao_img">
    <%=image_tag('executives/JyothiRao.jpg')%>
  </div>
  <div class= "jrao_par">
    <h2>Jyothi Rao</h2>
    <h3>Intermix</h3>
    <h3>President and General Manager</h3>

    <p>Jyothi brings extensive experience in the retail sector to her role as President of INTERMIX. She is responsible for crafting the vision for the brand and for developing the overall business strategy.</p>

    <p>Prior to joining INTERMIX in 2014, Jyothi served as Executive Vice President and General Manager of Gilt.com where she was instrumental in growing the business into a leading digital fashion site. Before Gilt, Jyothi served as Senior Vice President and General Manager at Calvin Klein, where she launched the Specialty Retail division.</p>

    <p>Previously, Jyothi spent 16 years at Gap Inc., where she held several leadership positions and was responsible for successfully growing domestic and international businesses for both the Gap and Banana Republic brands. Jyothi has resided in Africa, India, and Europe.</p>

  </div>
</div>