<div id= "mbanks_container">
  <div class= "mbanks_img">
    <%=image_tag('executives/MichelleBanks.jpg')%>
  </div>
  <div class= "mbanks_par">
    <h2>Michelle Banks</h2>
    <h3>Gap Inc. </h3>
    <h3>EVP, Global General Counsel, Corporate Security & Chief Compliance Officer</h3>

    <p>Michelle Banks is Executive Vice President, Global General Counsel, Corporate Secretary & Chief Compliance Officer of Gap Inc.</p>

    <p>In addition to the global legal function, Michelle currently oversees the Company’s global equity, integrity and privacy functions. She has also led the foundation, franchise services, government affairs & public policy and sustainability functions during her tenure at Gap Inc.</p>

    <p>Before joining the Company in 1999, Michelle was in-house legal counsel for the NBA’s Golden State Warriors, and prior to that, worked in Japan as American counsel for ITOCHU Corporation. She was also associated with several law firms, including Morrison & Foerster in California and New York, focusing on corporate finance and international commercial transactions.</p>

    <p>Michelle graduated from UCLA with degrees in Law and Economics, and was admitted to the California bar in 1988. She serves as Chair of the Board of Directors of Minority Corporate Counsel Association and on the American Bar Association’s Commission on Women in the Profession.</p>

  </div>
</div>