<div id= "ngreen_container">
  <div class= "ngreen_img">
    <%=image_tag('executives/NancyGreen.jpg')%>
  </div>
  <div class= "ngreen_par">
    <h2>Nancy Green</h2>
    <h3>Athleta</h3>
    <h3>President and General Manager</h3>

    <p>Nancy Green is currently President and General Manager of Athleta, leading the brand through a high-growth phase and brand evolution.</p>

    <p>Throughout her three decades of retail, leading high growth businesses and teams have been her expertise along with creating and developing brand vision, strategy, and breakthrough product and marketing. She is also known as an impactful mentor of talent who has developed strong leaders across the industry. She has worked for Gap Inc. for 21 years over two phases, including her first 16 years in retail and most recent 5 years since rejoining the company in 2009.</p>

    <p>Prior to joining Athleta in 2013, she served as EVP and Chief Creative Officer at Old Navy, leading the merchandising, design and visual merchandising teams. Under her leadership, the brand focused on balancing innovation in core categories while launching new and expanding businesses. Nancy served as interim co-leader of Old Navy in 2012.</p>
    
    <p>Previously, Green served as CEO of Shabby Chic, where she partnered with the founder to create and implement a vision and growth strategy for a multi-channel lifestyle brand. She facilitated its expansion into new categories and distribution channels while overseeing all areas of the company.</p>

  </div>
</div>