<div id= "rmiolla_container">
  <div class= "rmiolla_img">
    <%=image_tag('executives/RayMiolla.jpg')%>
  </div>
  <div class= "bsilten_par">
    <h2>Ray Miolla</h2>
    <h3>Gap Inc.</h3>
    <h3>EVP, Global Real Estate, Store Development and Franchise Services</h3>

    <p>Ray Miolla serves as the Senior Vice President of Global Real Estate, Store Development & Franchise Services. Ray has worked closely with Gap Inc.'s brand President and international business leaders in developing and delivering on The Gap's strategies to optimize its global real estate fleet. He led the   Gap team responsible for market planning, site selection, sales forecasting, store construction, store maintenance, and store leasing for brands in North America, Asia, the Middle East and Europe.</p>

    <p>He also led The Gap’s Franchise Services team, which is responsible for business development, franchise administration and multi-brand strategy for the Old Navy, Gap and Banana Republic franchise system with over 400 franchised stores in more than 40 countries. </p>

    <p>He joined Gap Inc. in 2003, and since then he has held a number of legal and business positions, including Vice President of Real Estate Law, Vice President of North American Real Estate and Vice President of Franchise Services. Prior to joining Gap Inc., he was Vice President of Real Estate, Franchise Operations, and Business Development with the Jamba Juice Company.</p>

    <p>Ray is a magna cum laude graduate of Middlebury College and holds a Juris Doctor degree from the Boston University School of Law.</p>

  </div>
</div>