<div id= "sgoldfarb_container">
  <div class= "sgoldfarb_img">
    <%=image_tag('executives/SolGoldfarb.jpg')%>
  </div>
  <div class= "sgoldfarb_par">
    <h2>Sol Goldfarb</h2>
    <h3>Gap Inc. </h3>
    <h3>EVP, Digital & Customer Experience</h3>

    <p>Sol Goldfarb is Executive Vice President, Digital and Customer Experience for Gap Inc. In this role, Sol is responsible for guiding the strategy and delivery of innovative technology that delights customers and bridges the divide between the physical and digital shopping experiences.</p>

    <p>Sol has been at the center of the transformation of the retail customer shopping experience for the last two decades. Joining the Growth, Innovation and Digital Division in 2004 to oversee product management, Sol has progressed through the organization touching every part of Gap Inc.’s digital landscape. Sol is now responsible for driving the company’s overall technology agenda across five global brands. </p>

    <p>During his tenure, Sol has brought the company’s e-commerce business to international markets, developed the digital expression for new brands the company has started and acquired, pivoted the organization’s efforts to take advantage of the huge growth in customer use of mobile devices, and driven the development of best-in-class omni-channel offerings, like Find In Store, Ship From Store, Reserve In Store and Order In Store.</p> 

    <p>Sol came to Gap Inc. from AOL/Netscape, where he led some of the Internet’s most impactful technology innovations. Chief among his accomplishments was the strategic oversight of AOL Music, which included Radio@AOL, AOL Media Player, Video@AOL and Winamp.</p>

  </div>
</div>