<div id="slarsson_container">
  <div class= "slarsson_img">
    <%=image_tag('executives/StefanLarsson.jpg')%>
  </div>
  <div class= "slarsson_par">
    <h2>Stefan Larsson</h2>
    <h3>Old Navy </h3>
    <h3>Global President</h3>

  <p>Stefan Larsson is the Global President of Old Navy, a division of Gap Inc. He joined Gap Inc. in 2012 after a highly successful career at Swedish retailer, Hennes & Mauritz (H&M), spanning nearly 15 years where he was a part of the team responsible for growing H&M, with revenues increasing from about $3 billion to about $17 billion and operations expanding from 12 to 44 countries.</p>

  <p>He most recently served as head of Global Sales with functional responsibility for about 2,300 stores and nearly all of the company’s $17 billion in annual sales. This role, which reported to the CEO, encompassed all aspects of the business that are customer-facing: product merchandising, visual merchandising, store operations, store design and development, inventory management, and customer service.</p>

  <p>Previously, Stefan was responsible for overseeing H&M’s global expansion, with responsibility for real estate, store design and store construction. Earlier in his career at H&M, he lived in California and led the company’s launch of H&M on the West Coast of the United States, and spent nearly seven years in numerous global roles with responsibility for product, including merchandising, assortment development, planning and production for the company.</p>

  <p>Stefan earned a Master of Science in Business Administration jointly from the Swedish School of Economics and Business Administration, in Finland, and Jonkoping International Business School, in Sweden.</p>

  </div>
</div>