<div id= "ssimmons_container">
  <div class= "ssimmons_img">
    <%=image_tag('executives/SabrinaSimmons.jpg')%>
  </div>
  <div class= "ssimmons_par">
    <h2>Sabrina Simmons</h2>
    <h3>Gap Inc. </h3>
    <h3>EVP and Chief Financial Officer</h3>

    <p>Sabrina Simmons is Executive Vice President and Chief Financial Officer of Gap Inc. In this role, she oversees real estate, loss prevention and all global financial departments, including controllership, corporate financial planning and analysis, investor relations, treasury, tax, risk management, internal audit and the corporate shared service center, and also has accountability for brand finance along with the company's brand presidents.</p>
    
    <p>Since joining Gap Inc. in 2001, Sabrina has progressed through positions of increasing responsibility from vice president and treasurer to executive vice president. Simmons was appointed CFO in January 2008.</p>
    
    <p>During her tenure, she has been instrumental in instilling financial discipline throughout the organization and developing the capital structure framework that has delivered increasing shareholder distributions while maintaining a strong balance sheet.</p>
    
    <p>Before coming to Gap, Sabrina was chief financial officer and an executive member of the Board of Directors of Sygen International PLC, a British genetics company. Prior to Sygen, Simmons spent five years at Levi Strauss & Co., where she was assistant treasurer. She also spent several years at Hewlett Packard Company and KPMG.</p>

  </div>
</div>