<div class ="application_container">
  <div class="global_wrapper">
    <div class="global_container">
      <div class="global">
        <% @globals.each do |t| %>
        <div class="global_pic">
       
          <%= link_to image_tag(t.image), global_path(t), method: "get", action: "show"%><br>
          <%= t.first_name %> <%= t.last_name %>

          <div class="show_about">
    
      
          </div>
    
          
        </div>
        <% end %>
      </div> 
    </div>
  </div>
</div>
