<div class="global_wrapper">
  <div class="global_container">
    <div class="global">
      <% @globals.each do |t| %>
      <div class="global_pic">
     
        <%= link_to image_tag(t.image), global_path(t), method: "get", action: "show"%><br>
        <div class="show_about">
          <%= render partial: "users/show_profile", locals: {t:t}%> 
    
        </div>
  
        
      </div>
      <% end %>
    </div> 
  </div>
</div>
