/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* Initial body. */

/************************************/
/* General styling for the web app. */
/************************************/

html {
  height: 100%;
  width: 100%;
  margin: 0;
  font-size: 10.8pt;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100%;
  margin: 0;
  background-color: #F5F5F5;
}

.application_container {
  width: 100%;
  margin-top: 46px;
  height: inherit;
}


/***********************************/
/* Styling for the footer. */
/***********************************/

footer {
  background-color: white;
  height: 110px;
}

footer ul {
  list-style-type: none;
}

.political {
  margin-left: 18px;
  padding: 18px 0 0 0;
}

.political ul {
  display: inline-block;
  list-style-type: none;
}

.political li {
  display: inline-block;
  vertical-align:top;
  font-weight: bold;
}

.political li:first-child {
  line-height: bottom;
}

.forms li:first-child {
  font-weight: bold;
}

a:link {
  text-decoration: none;
}

.forms li {
  display: block;
  font-weight: lighter;
}

.forms a:visited {
  color: black;
}


/***********************************/
/* Styling for the slide-out menu. */
/***********************************/

.menu {
  background: rgb(245,245,245);
  left: -285px;  /* start off behind the scenes */
  height: 100%;
  position: fixed;
  top: 0;
  width: 225px;
  z-index: 100;
  overflow: scroll;
  box-shadow: 2px 2px 0 rgba(0,0,0,0.07);
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 100%;
}

.menu li {
  line-height: 45px;
  padding-left: 18px;
}

.menu a {
  color: rgb(101, 101, 101);
  text-decoration: none;
}

.menu i {
  color: rgb(0, 0, 0);
}

.menu li:first-child {
  line-height: 20px;
  width: 75%;
  height: 72px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
}

.menu li:first-child img {
  margin-top: 18px;
  border-radius: 135px;
  float: left;
  -webkit-border-radius: 135px;
  -moz-border-radius: 135px;
}

.menu_name {
  width: 63px;
  height: 90px;
  float: right;
  margin-top: 22.5px;  
  margin-right: 54px;
}

.menu i::before {
  margin-right: 9px;
}

i.fa.fa-comments::before {
  margin-right: 7.2px;
}

i.fa.fa-users::before {
  margin-right: 8.1px;
}

i.fa.fa-globe::before {
  margin-right: 7.2px;
}

i.fa.fa-tags::before {
  margin-right: 5.4px;
}

i.fa.fa-bus::before {
  margin-right: 9px;
}

i.fa.fa-home::before {
  margin-right: 4.5px;
}

.icon-close {
  cursor: pointer;
}

.icon-close i {
  margin-right: 4.5px;
}

/************************************/
/* Styling for the opaque mask that */
/* fades in when opening the menu.  */ 
/************************************/

#masks {
  background: black;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: none;
}

/***********************************/
/* Styling for the navigation bar. */
/***********************************/

.nav-bar {
  background-color: rgb(0,40,97);
  position: fixed;
  width: 100%;
  height: 46px;
  top: 0;
  left: 0;
  z-index: 50;
}

.nav-bar li {
  color: white;
  display: inline-block;
} 

.nav-bar ul {
  list-style-type: none;
}

.nav-bar ul li:first-child {
  left: 0;
  position: absolute;
  padding-left: 18px;
}

.nav-bar ul li:first-child:hover {
  color: #888888;
}

.nav-bar ul li img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin-left:auto;
  margin-right:auto;
}

.nav-bar ul li:last-child {  
  position:absolute;
  right:0;
  margin-right: 4.5px;
}

.nav-bar ul li:last-child:hover {
  color: #888888;
}

i.fa.fa-user::before {
  margin-right: 9px;
}

.nav-bar ul li i{
  margin-right: 9px;
  cursor: pointer;
}

i#icon-menu.fa.fa-bars::before {
  margin-right: 4.5px;
}

/***********************************/
/* Styling for the logout menu.    */
/***********************************/

.logout_menu {
  top: 58.5px;
  right: 0px;
  z-index: 2;
  position: fixed;
  margin-right: 10px;
  width: 137px;
  height: 100px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.15);
  display: none;
}

.logout_menu ul {
  list-style-type: none;
  padding: 0 18px 0 18px;
}

.logout_menu li {
  margin-bottom: 9px;
  color: rgb(0,40,97);
}

.logout_menu a:link {
  color: rgb(0,40,97);
}

.logout_menu li:hover {
  color: #888888;
}

.logout_menu a:hover {
  color: #888888;
}

i.fa.fa-sign-out::before {
  margin-right: 9px;
}

i.fa.fa-pencil::before {
  margin-right: 9px;
}
