/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* Initial body. */
html {
  height: 100%;
  width: 100%;
  margin: 0;
}

body{
  font-family: 'Roboto', helvetica, sans-serif;
  min-height: 100%;
  margin: 0;
}

.application_container{
  width: 100%;
  height: calc(100% - 51px);
  display: block;
  margin-top: 51px;
}

/* Hidden menu styling. */
.menu {
  background: rgba(0,0,51, .5);
  left: -285px;  /* start off behind the scenes */
  height: 100%;
  position: fixed;
  top: 0;
  width: 225px;
  z-index: 100;
}

/* Basic menu styling. */
.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  color: white;
  display: inline-block;
  width: 100%;
}

.menu li {
  line-height: 50px;
  padding-left: 10px;
}

.menu a {
  color: white;
  text-decoration: none;
}

.menu li:first-child{
  color: #000033;
  background: #000033;
}

.menu i::before{
  margin-right: 10px;
}

i.fa.fa-comments::before {
  margin-right: 8px;
}

i.fa.fa-users::before {
  margin-right: 9px;
}

i.fa.fa-globe::before {
  margin-right: 8px;
}

i.fa.fa-tags::before {
  margin-right: 6px;
}

i.fa.fa-bus::before {
  margin-right: 10px;
}

i.fa.fa-home::before {
  margin-right: 5px;
}

.icon-close {
  cursor: pointer;
}

.icon-close i {
  margin-right: 5px;
}

/* This black opaque mask fades in when you click on the menu, add to application.js if needed
(currently using invisible mask). */

#masks {
  background: #000;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: .5;
  display: none;
}

/* Navigation bar styling. */
.nav-bar {
  background-color: #000033;
  position: fixed;
  width: 100%;
  height: 51px;
  top: 0;
  left: 0;
  z-index: 50;
}

.nav-bar li {
  display: inline-block;
  color: white;
} 

.nav-bar ul {
  list-style-type: none;
}

.nav-bar ul li:last-child{
  right: 0;
  position: absolute;
  padding-left: 20px;
}

.nav-bar ul li:first-child{
  left: 0;
  position: absolute;
  padding-left: 20px;
}

.nav-bar ul li:last-child:hover{
  color: #888888;
}
.nav-bar ul li i{
  margin-right: 10px;
  cursor: pointer;
}

i#icon-menu.fa.fa-bars::before {
  margin-right: 5px;
}

i#icon-menu.fa.fa-bars:hover {
  color: #888888;
}

/* Elipsis menu bar styling. */
.onclick-menu ul{
  list-style: none;
  position: fixed;
  right: 25px;
  top: 7%;
  z-index: 100;
  color: white;
}

.onclick-menu-content li{
  text-decoration: none;
  padding: 15px 15px 15px 15px;
}

.onclick-menu-content {
  background-color: rgba(0,0,51, .5);;
  padding: 0px;
  display: none;
}

.onclick-menu-content.visible{
  display: block;
}

.onclick-menu-content i::before{
  margin-right: 5px;
}

.fa.fa-ellipsis-v{
  margin-left: 5px;
}

.onclick-menu a {
  color: white;
  text-decoration: none;
}

#logout-menu {
  width: 50px;
  text-align: center;
  cursor: pointer;
  margin-right: 10px;
  -webkit-font-smoothing: antialiased;
}

/* Need an invisible mask to trigger html click to close the menu. */
#invisible-mask{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.profile_pic{
  height: 267px;
  width: 200px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

/* Error message styling. */

#error_explanation {
  color: inherit;
}

#error_explanation ul{
  color: inherit;
  text-align: left;
}

/* Media styling. */

@media screen and (min-width: 320px) and (max-width: 383px) {
  .nav-bar ul li:last-child{
    width: 50px;
}
}


