/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* Initial body. */

/************************************/
/* General styling for the web app. */
/************************************/

html {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  font-variant: normal;
  min-height: 100%;
  margin: 0;
  background-color: #F5F5F5;
}

.application_container {
  width: 100%;
  margin-top: 51px;
  height: inherit;
}

a:link {
    text-decoration: none;
}

/***********************************/
/* Styling for the slide-out menu. */
/***********************************/

.menu {
  background: white;
  left: -285px;  /* start off behind the scenes */
  height: 100%;
  position: fixed;
  top: 0;
  width: 250px;
  z-index: 100;
  overflow: scroll;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 100%;
}

.menu li {
  line-height: 50px;
  padding-left: 20px;
}

.menu a {
  color: rgb(101, 101, 101);
  text-decoration: none;
}

.menu i {
  color: rgb(0, 0, 0);
}

.menu li:first-child {
  line-height: 20px;
  width: 75%;
  height: 100px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
}

.menu li:first-child img {
  width: 50px;
  height: 60px;
  margin-top: 20px;
  border-radius: 150px;
  float: left;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  }

.menu_name {
  width: 100px;
  height: 100px;
  float: right;
  margin-top: 30px;  
  margin-right: 20px;
}

.menu i::before {
  margin-right: 10px;
}

i.fa.fa-comments::before {
  margin-right: 8px;
}

i.fa.fa-users::before {
  margin-right: 9px;
}

i.fa.fa-globe::before {
  margin-right: 8px;
}

i.fa.fa-tags::before {
  margin-right: 6px;
}

i.fa.fa-bus::before {
  margin-right: 10px;
}

i.fa.fa-home::before {
  margin-right: 5px;
}

.icon-close {
  cursor: pointer;
}

.icon-close i {
  margin-right: 5px;
}

/************************************/
/* Styling for the opaque mask that */
/* fades in when opening the menu.  */ 
/************************************/

#masks {
  background: black;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: .5;
  display: none;
}

/***********************************/
/* Styling for the navigation bar. */
/***********************************/

.nav-bar {
  background-color: rgb(0,40,97);
  position: fixed;
  width: 100%;
  height: 51px;
  top: 0;
  left: 0;
  z-index: 50;
}

.nav-bar li {
  color: white;
  display: inline-block;
} 

.nav-bar ul {
  list-style-type: none;
}

.nav-bar ul li:first-child {
  left: 0;
  position: absolute;
  padding-left: 20px;
}

.nav-bar ul li:first-child:hover {
  color: #888888;
}

.nav-bar ul li:nth-child(3) {
  position:absolute;
  right:0;
  top: 0;
  margin-right:50px;
  width: 20%;
}

.nav-bar ul li img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin-left:auto;
  margin-right:auto;
}


.nav-bar ul li:last-child {  
  position:absolute;
  right:0;
  top: 0;
}

.search_btn {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 12pt;
  margin-top: 10px;
}

.nav-bar ul li i{
  margin-right: 10px;
  cursor: pointer;
}

i#icon-menu.fa.fa-bars::before {
  margin-right: 5px;
}

/* Media styling. */

@media screen and (min-width: 320px) and (max-width: 640px) {
  .nav-bar ul li:last-child{
    width: 30px;
  }

  .onclick-menu-content {
  background-color: rgba(0,0,51, .8);;
  }
}

