// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Place all the styles related to the Conversations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/***************************************/
/* Styling for the messages container. */
/***************************************/

.chat_container {
  height: inherit;
  width: 100%;
  overflow: hidden;
}

.message_container {
  width: 53.2%;
  height: 100%;
  margin-left: 3.6px;
  margin-right: 3.6px;
  position: fixed;
  left: 15%;
}

/*************************************/
/* Styling for the messages header. */
/************************************/

.comments_title {
  height: 9%;
  width: 53.2%;
  background: white;
  border-bottom: 4.5px solid #F5F5F5;
  color: rgb(0,40,97);
  text-align: center;
  font-weight: lighter;
  font-size: 31.5pt;
  margin-top: 46px;
  margin-left: 3.6px;
  margin-right: 3.6px;
  position: fixed;
  left: 15%;
}

.comments_title span {
  display: block;
  margin-top: 6.5px;
  margin-bottom: 6.5px;
}

.fa.fa-weixin {
  margin-right: 9px;
}

/**********************************/
/* Styling for the contact heads. */
/**********************************/

.contacts_container {
  background: white;
  height: 100%;
  width: 15%;
  overflow: auto;
  position: fixed;
}

.contact_name {
  width: 45px;
  float: right;
  margin-top: 4.5px;
  margin-bottom: 4.5px;
  margin-right: 40.5px;
}

.search_bar {
  margin-top: 46px;
  margin-right: auto;
  margin-left: auto;
  width: 95%;
  height: 45px;
}

input#search {
  width: 99%;
}

.contacts_container ul {
  list-style-type: none;
  padding: 0;
  overflow-x: hidden;
}

.contacts_container li {
  height: 45px;
  width: 150px;
  margin-bottom: 18px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-left: 0px;
}

.contacts_container li:first-child{
  margin-top: 0px;
}


.contact_pic {
  margin-left: 4.5px;
  margin-right: 4.5px;
  border-radius: 45px;
  -webkit-border-radius: 45px;
  -moz-border-radius: 45px;
}

/******************************************/
/* Styling for the message conversations. */
/******************************************/


#comments_content {
  height: 77.5%;
  width: 100%;
  margin-top: 116px;
  background-color: white;
  border-bottom: 4px solid #F5F5F5;
  overflow: auto;
}

#name-font {
  font-size: 9pt;
}

#date {
  font-size: 9pt;
  text-align: center;
}

/******************************************/
/* Styling for the new message text-area. */
/******************************************/

.comments_text {
  height: 45px;
  width: 99.5%;
  margin: 0 0 0 0;
  position: absolute;
  bottom: 0;
}

input#comment_comment {
  height: 46px;
  outline: none;
  margin: 0;
}

.comments-submit {
  width: 5%;
  height: 36px;
  font-size: 10pt;
  cursor: pointer;
  border: 1px solid rgb(0,40,97);
  background-color: rgb(0,40,97);
  color: white;
  vertical-align: top;
  position: absolute;
  bottom: 0;
  left: 450px;
}

.comments-submit:hover {
  background: white;
  color: rgb(0, 40, 97);
}

.hidden {
  display: none;
}

/******************************************/
/* Pushes incoming messages to the right. */
/******************************************/

.push-right {
  text-align: right;
  margin-right: 13.5px;
}

/******************************************/
/* Pushes outgoing messages to the left. */
/******************************************/

.push-left {
  text-align: left;
  margin-left: 13.5px;
  color: rgb(0,40,97);
}

.push-left img{
  height: 27px;
  width: 27px;
  border-radius: 45px;
  margin-top: 4.5px;
}

/**************************************/
/* Styling for the profile container. */
/**************************************/

.profile_container {
  background: white;
  width: 31.25%;
  height: 100%;
  margin-top: 46px;
  right: 0;
  top: 1;
  position: fixed;
  font-weight: 200;
}

.profile_picture {
  height: 276px;
  width: 180px;
  color: rgb(115,123,128);
  background: white;
  text-align: center;
  display: inline-block;
  padding: 9px 9px 9px 9px;
  margin: 13.5px 13.5px 13.5px 17.5px;
  border-radius: 4px;
  box-shadow: 2px 2px 0 rgba(0,0,0,0.07);
}


.profile_picture li {
  display: inline-block;
  list-style-type: none;
  text-align: center;
  margin-right: 4.5px;
  margin-left: 4.5px;
}

.profile_picture ul {
  padding: 0px;
  margin-bottom: 0;
  margin-top: 9px;
  text-align: center;
}

.profile_title span {
  display: block;
  margin-top: 6.5px;
  margin-bottom: 6.5px;
}

.profile_title {
  height: 9%;
  width: 100%;
  font-size: 31.5pt;
  background: white;
  border-bottom: 4px solid #F5F5F5;
  color: rgb(0,40,97);
  font-weight: lighter;
  text-align: center;
  float: left;
}

.profile_wrapper {
  height: 480px;
  width: 425px;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 4px;
  box-shadow: 2px 2px 0 rgba(0,0,0,0.07);
}

i.title.fa.fa-user {
  margin-right: 9px;
  color: rgb(0,40,97);
}

.information_container {
  width: 157.5px;
  height: 276.3px;
  margin: 22.5px 27px 22.5px 0px;
  float: right;
}

.information_container li {
  list-style-type: none;
  text-align: left;
  margin-top: 13.5px;
  margin-bottom: 13.5px;
}

.information_container ul {
  padding: 0px;
}

.name {
  font-size: 27pt;
  font-weight: 200;
  display: block;
  position: relative;
  top: -18px;
  }

.about_container {
  width: 405px;
  height: 200px;
  text-align: left;
  margin-left: 15px;
  word-wrap: break-word;
  color: #888888;
  line-height: 20.7px;
}


/***********************************************/
/* Styling for media screens, phones, tablets. */
/***********************************************/

@media screen and (min-height: 962px) {
  .comments_content {
    height: 82.75%;
  }
}

@media screen and (max-height: 568px) {
  .comments_content {
    height: 67.5%;
  }
}

@media screen and (max-width: 800px) {
  .contact_name {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .profile_container {
    display: none;
  }

  .message_container {
    width: 84%;
  }

  .comments_title {
    width: 84%;
  }
}