// Place all the styles related to the Content controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#message {
  color: black;
  font-size: 42pt;
  height: 150px;
  width: 550px;
  text-align: center;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
}