// Place all the styles related to the Global controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/***************************************/ 
/* Styling for the what to expect page */
/***************************************/

/*************************************/
/* Styling for the expect container. */
/*************************************/

.expect_container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  top: 50px;
}

.expect_par {
	float: left;
	width: 650px;
	height: 625px;
  background: white;
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.15);
  padding: 0px 20px 0px 20px;
  margin-right: 10px;
}

.expect_img img {
  width: 500px;
  height: 625px;
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.15);
  margin-bottom: 20px;
}

h1, h3, h4 {
  color: rgb(0,40,97);
}

/***************************************/
/* Styling for the New York container. */
/***************************************/

.ny_container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  position: relative;
  top: 50px;
}

.ny_par {
  float: right;
  width: 650px;
  height: 625px;
  background: white;
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.15);
  padding: 0px 20px 0px 20px;
}

.ny_img img {
  width: 500px;
  height: 625px;
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.15);
  margin-right: 10px;
}

/********************************************/
/* Styling for the San Francisco container. */
/********************************************/

.sf_container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  position: relative;
  top: 50px;
}

.sf_par {
  float: left;
  width: 650px;
  height: 625px;
  background: white;
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.15);
  padding: 0px 20px 0px 20px;
  margin-right: 10px;
}

.sf_img img {
  width: 500px;
  height: 625px;
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.15);
  margin-bottom: 20px;
}

/***********************************/
/* Styling for phones and tablets. */
/***********************************/

@media screen and (min-width: 320px) and (max-width: 568px) {
  .expect img{
    width: 375px;
    height: auto;
  }
}