// Place all the styles related to the Global controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/***************************************/ 
/* Styling for the what to expect page */
/***************************************/

.expect_bar {
  width: 100%;
  display: block;
  text-align: center;
  background-color: rgb(245,245,245);
  height: 45px;
  position: fixed;
  z-index: 1;
}

.expect_bar ul {
  list-style-type: none;
}

.expect_bar a:link, a:visited{
  color: rgb(0,40,97);
}

.expect_bar li{
  display: inline-block;
  margin-left: 18px;
  margin-right: 18px;
}

.expect_bar a:hover {
  color: #888888;
}

/*************************************/
/* Styling for the expect container. */
/*************************************/

#expect_container {
  width: 1080px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  top: 45px;
}

.expect_par {
	float: left;
	width: 585px;
	height: 591.5px;
  background: white;
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.15);
  padding: 0px 18px 0px 18px;
  margin-right: 9px;
}

.expect_img img {
  width: 450px;
  height: 591.5px;
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.15);
  margin-bottom: 18px;
  -webkit-transform: translateZ(0);
  -webkit-filter:grayscale(1);
}

h1, h3, h4 {
  color: rgb(0,40,97);
}

/***************************************/
/* Styling for the New York container. */
/***************************************/

#ny_container {
  width: 1080px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 18px;
  position: relative;
  top: 45px;
}

.ny_par {
  float: right;
  width: 585px;
  height: 562.5px;
  background: white;
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.15);
  padding: 0px 18px 0px 18px;
}

.ny_img img {
  width: 450px;
  height: 562.5px;
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.15);
  margin-right: 9px;
}

/********************************************/
/* Styling for the San Francisco container. */
/********************************************/

#sf_container {
  width: 1080px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 45px;
  position: relative;
  top: 45px;
}

.sf_par {
  float: left;
  width: 585px;
  height: 562.5px;
  background: white;
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.15);
  padding: 0px 18px 0px 18px;
  margin-right: 9px;
}

.sf_img img {
  width: 450px;
  height: 562.5px;
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.15);
  margin-bottom: 63px;
  -webkit-transform: translateZ(0);
  -webkit-filter:grayscale(1);
}

/********************************************/
/* Styling for the benefits container. */
/********************************************/

#benefits_container {
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  top: 50px;
  margin-bottom: 50px;
}

#benefits_container iframe {
  width: 1000px;
  height: 925px;
  text-align: center;
  margin-bottom: 25px;
}

/********************************************/
/* Styling for the forms container. */
/********************************************/

#forms_container {
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  top: 50px;
  margin-bottom: 50px;
}

#forms_container iframe {
  width: 1000px;
  height: 925px;
  text-align: center;
  margin-bottom: 25px;
}

/***********************************/
/* Styling for phones and tablets. */
/***********************************/

@media screen and (min-width: 320px) and (max-width: 568px) {
  .expect img{
    width: 375px;
    height: auto;
  }
}