// Place all the styles related to the Global controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/**************************************/
/* Styling for the global index page. */
/**************************************/

.global_bar {
  width: 100%;
  display: block;
  text-align: center;
  background-color: rgb(245,245,245);
  height: 50px;
  position: fixed;
  z-index: 1;
}


.global_bar ul {
  color: white;
  list-style-type: none;
}

.global_bar a {
  color: rgb(0,26,80);
}

.global_bar li{
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  color: rgb(0,26,80);
}


/**************************************/
/* Styling for Art Peck profile. */
/**************************************/

#apeck_container{
  width: 1080px;
  height: 500px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  margin-top: 30px;
  top: 50px;
  position: relative;
}

.apeck_img {
  float: left;
  margin-right: 10px;
}

.apeck_img img{
  width: 380px;
  height: 500px;
  border-radius: 4px;
}

.apeck_par {
  float: right;
  width: 650px;
  height: 500px;
  background: white;
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.15);
  padding: 0px 20px 0px 20px;
}

/**************************************/
/* Styling for Sabrina Simmons profile. */
/**************************************/

#ssimmons_container{
  width: 1080px;
  height: 500px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  margin-top: 30px;
  top: 50px;
  position: relative;
}

.ssimmons_img {
  float: right;
  margin-left: 10px;
}

.ssimmons_img img{
  width: 380px;
  height: 500px;
  border-radius: 4px;
}

.ssimmons_par {
  float: left;
  width: 650px;
  height: 500px;
  background: white;
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.15);
  padding: 0px 20px 0px 20px;
}

/**************************************/
/* Styling for Andi Owen profile. */
/**************************************/

#aowen_container{
  width: 1080px;
  height: 500px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  margin-top: 30px;
  top: 50px;
  position: relative;
}

.aowen_img {
  float: left;
  margin-right: 10px;
}

.aowen_img img{
  width: 380px;
  height: 500px;
  border-radius: 4px;
}

.aowen_par {
  float: right;
  width: 650px;
  height: 500px;
  background: white;
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.15);
  padding: 0px 20px 0px 20px;
}

/**************************************/
/* Styling for Stephan Larsson profile. */
/**************************************/

#slarsson_container{
  width: 1080px;
  height: 550px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  margin-top: 30px;
  top: 50px;
  position: relative;
}

.slarsson_img {
  float: right;
  margin-left: 10px;
}

.slarsson_img img{
  width: 400px;
  height: 550px;
  border-radius: 4px;
}

.slarsson_par {
  float: left;
  width: 630px;
  height: 550px;
  background: white;
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.15);
  padding: 0px 20px 0px 20px;
}

/**************************************/
/* Styling for Nancy Green profile. */
/**************************************/

#ngreen_container{
  width: 1080px;
  height: 500px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  margin-top: 30px;
  top: 50px;
  position: relative;
}

.ngreen_img {
  float: left;
  margin-right: 10px;
}

.ngreen_img img{
  width: 380px;
  height: 500px;
  border-radius: 4px;
}

.ngreen_par {
  float: right;
  width: 650px;
  height: 500px;
  background: white;
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.15);
  padding: 0px 20px 0px 20px;
}

/**************************************/
/* Styling for Jyothi Rao profile. */
/**************************************/

#jrao_container{
  width: 1080px;
  height: 400px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  margin-top: 30px;
  top: 50px;
  position: relative;
}

.jrao_img {
  float: right;
  margin-left: 10px;
}

.jrao_img img{
  width: 280px;
  height: 400px;
  border-radius: 4px;
}

.jrao_par {
  float: left;
  width: 750px;
  height: 400px;
  background: white;
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.15);
  padding: 0px 20px 0px 20px;
}

/**************************************/
/* Styling for Sol Goldfarb profile. */
/**************************************/

#sgoldfarb_container{
  width: 1080px;
  height: 530px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  margin-top: 30px;
  top: 50px;
  position: relative;
}

.sgoldfarb_img {
  float: left;
  margin-right: 10px;
}

.sgoldfarb_img img{
  width: 380px;
  height: 530px;
  border-radius: 4px;
}

.sgoldfarb_par {
  float: right;
  width: 650px;
  height: 530px;
  background: white;
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.15);
  padding: 0px 20px 0px 20px;
}

/**************************************/
/* Styling for Michelle Banks profile. */
/**************************************/

#mbanks_container{
  width: 1080px;
  height: 525px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  margin-top: 30px;
  top: 50px;
  position: relative;
}

.mbanks_img {
  float: right;
  margin-left: 10px;
}

.mbanks_img img{
  width: 400px;
  height: 525px;
  border-radius: 4px;
}

.mbanks_par {
  float: left;
  width: 630px;
  height: 525px;
  background: white;
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.15);
  padding: 0px 20px 0px 20px;
}

/**************************************/
/* Styling for Bobbi Silten profile. */
/**************************************/

#bsilten_container{
  width: 1080px;
  height: 525px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  margin-top: 30px;
  top: 50px;
  position: relative;
}

.bsilten_img {
  float: left;
  margin-right: 10px;
}

.bsilten_img img{
  width: 375px;
  height: 525px;
  border-radius: 4px;
}

.bsilten_par {
  float: right;
  width: 655px;
  height: 525px;
  background: white;
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.15);
  padding: 0px 20px 0px 20px;
}

/**************************************/
/* Styling for Ray Miolla profile. */
/**************************************/

#rmiolla_container{
  width: 1080px;
  height: 525px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  margin-top: 30px;
  top: 50px;
  position: relative;
}

.rmiolla_img {
  float: right;
  margin-left: 10px;
}

.rmiolla_img img{
  width: 375px;
  height: 525px;
  border-radius: 4px;
}

.rmiolla_par {
  float: left;
  width: 655px;
  height: 525px;
  background: white;
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.15);
  padding: 0px 20px 0px 20px;
}

