// Place all the styles related to the HireTypeBoards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/***********************************************/
/* Styling for the hire type board index page. */
/***********************************************/

.faq_container {
  width: 100%;
  height: 100%;
  position: absolute;
}

.questions_container {
  width: 100%;
  height: 88%;
  margin-top: 51px;
  overflow: scroll;
}

.questions_container a:link {
  color: rgb(0,40,97);
  margin-left: 10px;
}

.questions_form {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 99%;
  margin-left: 5px;
  margin-right: 5px;
}

td {
  height: 30px;
}

/***********************************************/
/* Styling for the hire type board show page. */
/***********************************************/

.message_board_title {
  width: inherit;
  height: 100px;
  background: white;
  font-size: 24px;
}

.configure_buttons {
  float: right;
  margin-right: 10px;
}

#new_post {
  position: absolute;
  bottom: 0;
  width: 84%;
}

.message_board_container {
  margin-top: 51px;
  padding-top: 10px;
  padding-left: 10px;
  height: 70%;
  width: 85%;
  float: right;
  background: white;
}

.message_board_content {
  height: 90%;
  width: inherit;
  margin-left: 10px;
}