// Place all the styles related to the HireTypeBoards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/***********************************************/
/* Styling for the hire type board index page. */
/***********************************************/

.faq_container {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

.questions_container {
  width: 100%;
  height: 81%;
  margin-top: 98px;
  overflow: auto;
}

.questions_container a:link {
  color: rgb(0,40,97);
  margin-left: 9px;
}

.questions_form {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 99%;
  margin-left: 4.5px;
  margin-right: 4.5px;
}

td {
  height: 27px;
}

.faq_title {
  position: fixed;
  width: 100%;
  height: 51.3px;
  margin-top: 46px;
  line-height: .5;
  background-color: white;
}


/***********************************************/
/* Styling for the hire type board show page. */
/***********************************************/

.message_board_title {
  width: 99.5%;
  height: 27px;
  padding-top: 9px;
  padding-bottom: 9px;
  background: white;
  font-size: 21.6px;
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.15);
  text-overflow: ellipsis;
  margin-top: 46px;
}

.time_stamp {
  float: right;
  margin-right: 9px;
}

.message_board_title span {
  margin-left: 9px;
}
.configure_buttons {
  float: right;
  margin-right: 9px;
}

#new_post {
  height: 45px;
  width: 98.5%;
  margin: 0 0 9px 0;
  position: absolute;
  bottom: 0;
}

.message_board_container {
  padding-top: 9px;
  padding-left: 9px;
  height: 100%;
  width: 85%;
  position: fixed;
}

.message_board_content {
  height: 78.5%;
  width: 99.5%;
  margin-top: 9px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.15);
  overflow: auto;
}

.message_board_content span {
  margin-left: 9px;
}

.existing_faqs {
  height: 100%;
  width: 14%;
  overflow: auto;
  right: 0;
  position: absolute;
  background-color: white;
  text-overflow: ellipsis;
}

.existing_faqs li:first-child {
  margin-top: 72px;
}

.existing_faqs li {
  margin-top: 4.5px;
  margin-bottom: 4.5px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.existing_faqs ul {
  list-style-type: none;
  padding: 0;
}

.existing_faqs a:link {
  color: rgb(0,40,97);
}

/***************************************/
/* Styling for the edit question page. */
/***************************************/

.edit_question_container {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.edit_question_shell {
  width: 100%;
  height: 100%;
  display: table;
  position: fixed;
}

.edit_question_form {
  text-align: center;
  margin: auto auto;
  padding: 9px 18px 9px 13.5px;
  width: 450px;
  background: rgb(0,26,80);
  box-shadow: 2px 2px 2px rgba(0,0,0,0.15);
  border-radius: 4px;
  color: white;
}

.question-submit {
  background: rgb(0,26,80);
  text-transform: uppercase;
  margin-top: 9px;
  padding: 9px;
  border: 1px solid rgb(0,26,80);
  color: white;
  width: 225px;
  margin-bottom: 22.5px;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
}

.question-submit:hover {
  background-color: white;
  color: rgb(0,26,80);
}

