// Place all the styles related to the Content controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Styling for home screen. */

.home_shell{
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: url('jeans.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

/* Default message that fades in on welcome screen */

.welcome_background{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.7);
}

.welcome_container {
  width: 100%;
  text-align: center;
  }

#message {
  color: white;
  font-size: 42pt;
  margin-bottom: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
}

i#quote {
  font-size: 25pt;
  color: white;
  width: 100%;
  text-align: center;
}

.word_list {
  color: white;
  margin-top: 75px;
}


.word_list ul{
  list-style-type: none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.word_list li{
  display: inline-block;
  margin-right: 5px;
  font-size: 24pt;
}

.word_list li + li:before{
    content: "\00b7";
    padding: 0 10px;
}

.fa.fa-arrow-down {
  position: absolute;
  bottom: 55px;
  left: 0;
  right: 0;
  color: white;
  font-size: 40pt;
  text-align: center;
}

.fa.fa-arrow-down:hover{
  color: #888888;
}

#welcome_video {
  position:relative;
}

#welcome_video .ratio {
  display:block;
  width:100%;
  height:auto;
  opacity: 0;
}

#welcome_video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
}

.video_wrapper{
  width: 100%;
  margin: 0, auto;
  background-color: rgba(0,0,51,1);
}










@media screen and (min-width: 320px) and (max-width: 640px) {

  #message {
    font-size: 20pt;
  }

  i#quote { 
    font-size: 12pt;
  }

  .word_list li{
    font-size: 10pt;
  }

  .fa.fa-arrow-down {
    font-size: 25pt;
  }
}