// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background: url("minimal.jpg");
  background-size: cover;
}

#submit {
  background-color: black;
  padding: 10px 50px;
  opacity: .75;
}

#submit:hover{
  background-color: #888888;
}

.btn-submit {
  width: 100%;
  font-size: 16pt;
  margin-bottom: 25px;
  opacity: .75;
  cursor: pointer;
}


#error {
  position: fixed;
  color: black;
  top: 65%;
  left: 50%;
  text-align: center;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.title {
  font-size: 42pt;
  margin-bottom: 10px;

}

.container a {
  color: black;
} 






