// Place all the styles related to the Shuttle controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.shuttle {
  text-align: center;
  display: block;
}

.shuttle_background {
  height: 100%;
  width: 100%;
  background: #888888;
}


@media screen and (min-width: 569px) and (max-width: 736px) {
  .shuttle img{
    width: 500px;
    height: auto;
  }
}

@media screen and (min-width: 320px) and (max-width: 568px) {
  .shuttle img{
    width: 375px;
    height: auto;
  }
}



