// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Styling for the user index page, edit page, and profile page. */

.form {
  text-align: center;
  margin: auto auto;
  padding: 10px 20px 10px 15px;
  width: 250px;
  background: #000033;
  color: white;
}

input[type=text],
input[type=password],
input[type=email] {
  color: black;
  width: 100%;
  border: 3px, solid, white;
  border-radius: 0px;
  height: 30px;
  margin: 7px auto;
  text-indent: 10px;
  font-size: 12pt;
  font-weight: lighter;
  font-family: "Roboto", helvetica, sans-serif;
}

.container {
  display: table-cell;
  width: 275px;
  vertical-align: middle;
  text-align: center;
  background-color: rgba(0,0,51,.5);
}

#signup {
  font-size: 42pt;
  font-family: "Arapey";
  color: white;
  margin-bottom: 10px;
}

.btn-submit{
  background-color: #000033;
  font-size: 12pt;
  font-weight: lighter;
  text-transform: uppercase;
  margin-top: 10px;
  padding: 10px;
  border: 0;
  font-family: "Roboto", helvetica, sans-serif;
  color: white;
  width: 282px;
  margin-bottom: 25px;
  cursor: pointer;
  text-align: center;
}

.btn-submit:hover {
  background-color: #888888;
}

/*Edit profile styling. */

h1 {
  margin-left: 5px;
}

.edit_background {
  width: 100%;
  height: 100%;
  background: #F5F5F5;
}

.edit_form {
  text-align: left;
  padding: 5px 0px 5px 0px;
  display: inline-block;
  width: 100%;
}

input[type=text],
input[type=password],
input[type=email] {
  color: black;
  width: 100%;
  border: 3px, solid, white;
  border-radius: 0px;
  height: 30px;
  margin: 7px auto;
  text-indent: 5px;
  font-size: 12pt;
  font-weight: lighter;
  font-family: "Roboto", helvetica, sans-serif;
}

.edit_container {
  display: block;
  width: 500px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  }

.basic_information {
  background: white;
  width: 100%;
  padding: 2.5px 20px 10px 15px;
  margin-bottom: 20px;
}

.change_password {
  background: white;
  width: 100%;
  padding: 2.5px 20px 10px 15px;
  margin-bottom: 20px;
}

.social_media {
  background: white;
  width: 100%;
  padding: 2.5px 20px 10px 15px;
  margin-bottom: 20px;
}

.btn{
  background-color: rgba(0,0,51,1);
  font-size: 12pt;
  margin-top: 10px;
  padding: 10px;
  border: 0;
  font-family: "Roboto", helvetica, sans-serif;
  color: white;
}

.btn:hover {
  background-color: #888888;
  color: white;
  cursor: pointer;
}

// Content container styling

.content_container{
  width: 1350px;
  height: 575px;
  margin: auto;
  position: absolute;
  top: -55px; left: 0; bottom: 0px; right: 0;
}


//Show profile styling

.profile_background{
  background: #F5F5F5;
  position: absolute;
  width: 100%;
  height: inherit;
}

.profile_container{
  background: white;
  width: 500px;
  height: 525px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  float: left;
  margin-left: auto;
}

.title_container {
  height: 75px;
  width: 1350px;
  margin-left: auto;
  margin-right: auto;
  font-size: 40pt;
  font: 'Roboto';
}

.profile_title {
  height: inherit;
  width: 520px;
  background: rgba(0,0,51,1);
  color: white;
  text-align: center;
  float: left;
}

.message_title {
  height: inherit;
  width: 750px;
  background: rgba(0,0,51,1);
  color: white;
  text-align: center;
  float: right;
}

i.title.fa.fa-user{
  margin-right: 10px;
}

.fa.fa-weixin{
  margin-right: 10px;
}

.img_container {
  height: 307px;
  width: 200px;
  color: black;
  background: white;
  text-align: center;
  display: inline-block;
  padding: 10px 10px 10px 10px;
  margin: 15px 15px 15px 15px;
}

.img_container li {
  display: inline-block;
  list-style-type: none;
  text-align: center;
  margin-right: 5px;
  margin-left: 5px;
}

.img_container ul{
  padding: 0px;
  margin-bottom: 0;
  text-align: center;
}

.information_container {
  width: 175px;
  height: 307px;
  margin: 25px 30px 25px 30px;
  float: right;
}

.information_container li {
  list-style-type: none;
  text-align: left;
  margin-top: 15px;
  margin-bottom: 15px;
}

.information_container ul{
  padding: 0px;
}

textarea {
  color: black;
  width: 100%;
  max-width: 100%;
  height: 150px;
  border-radius: 0px;
  margin: 7px auto;
  text-indent: 5px;
  font-size: 12pt;
  font-weight: lighter;
  font-family: "Roboto", helvetica, sans-serif;
  }

.name {
  font-size: 30pt;
  display: block;
  position: relative;
  top: -20px;
  font-weight: 900;
}

.about_container {
  width: 450px;
  text-align: left;
  margin-left: 30px;
  word-wrap: break-word;
}

//Styling for users index

.interns_container {
  height: 100%;
}

.interns_wrapper {
  width: 100%;
  height: 100%;
  background-color: #F5F5F5;
  backgroung-cover: stretch;
}


.interns {
  box-sizing: border-box;
  margin: 50px auto;
  display: block;
  text-align: center;
  width: 93%;
  height: inherit;
}


.interns img{
  width: 200px;
  height: 267px;
  text-align: center;
  display: inline-block;
  margin-bottom: 10px;

}

/* Styling for the messages container */

.message_container {
  width: 750px;
  height: 575px;
  background-color: white;
  float: right;
}

.contacts_container {
  height: 10%;
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 10px;
  float: left;
}

.conversation_container {
  float: right;
  height: 100%;
  width: 100%;
}

.messages_content {
  height: 412px;
  width: 100%;
}

.messages_text {
  height: 15%;
  width: 100%;
  border-bottom: none;
  border-right: none;
  border-left: none;
}

.new_conversation {
  height: 100%;
  width: 100%;
  outline: none;
}
.messages_text textarea{
  height: 80px;
  width: 88.5%;
  resize: none;
  margin: 0 0 0 0;
  outline: none;
}

.msg-submit{
  width: 10%;
  height: 85px;
  font-size: 12pt;
  outline: none;
  cursor: pointer;
  border: 1px solid rgba(0,0,51,1);
  font-family: "Roboto", helvetica, sans-serif;
  background-color: rgba(0,0,51,1);
  color: white;
  vertical-align: top;
}

.msg-submit:hover{
  background: white;
  color: rgba(0,0,51,1);
}

/*Styling for the flash error message. */
.alert-error {
  color: white;
}









@media screen and (min-width: 320px) and (max-width: 479px) {
  .edit_container {
    width: 275px;
    margin-left: 0px;
    margin-right: 10px;
    }

  .edit_form {
    width: 275px;
    padding-left: 5px;
    }
  }


@media screen and (min-width: 384px) and (max-width: 540px) {
  .edit_container {
    width: 275px;
    margin-left: 25px;
    }

  .edit_form {
    width: 275px;
    padding-left: 10px;
    }
}










