// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.form {
  text-align: center;
  margin: 0 0 10px;
  padding: 5px 15px 5px 10px;
  width: 250px;
  background: #3366FF;
  display: inline-block;
}

input[type=text],
input[type=password],
input[type=email] {
  color: black;
  width: 100%;
  border: 3px, solid, white;
  border-radius: 0px;
  height: 30px;
  margin: 7px auto;
  text-indent: 10px;
  font-size: 12pt;
  font-weight: lighter;
  font-family: "Roboto", helvetica, sans-serif;
}

.container {
  width: 275px;
  height: 450px;
  text-align: center;
  margin: 20% auto;
}

#signup {
  font-size: 42pt;
  color: black;
  font-weight: lighter;
  margin-bottom: 10px;
}

.btn-submit{
  background-color: #3366FF;
  font-size: 12pt;
  font-weight: lighter;
  text-transform: uppercase;
  margin-top: 10px;
  padding: 10px;
  border: 0;
  font-family: "Roboto", helvetica, sans-serif;
  color: white;
}

.btn-submit:hover {
  background-color: white;
  color: #3366FF;
}

#exists {
  position: fixed;
  color: black;
  padding: 2.5px 5px;
  top: 90%;
  left: 50%;
  text-align: center;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}