<div id= "athleta_container">
  <div class= "athleta_description">
    <div class= "athleta_banner">
      <%=image_tag('athleta/athleta_banner.png') %>
    </div>
  <div class= "athleta_par">
    <h1>Athleta</h1>
    <p>Founded in 1998, Athleta is a premium fitness and lifestyle brand for women, outfitting female athletes in the ultimate performance apparel and gear.</p>

    <p>All of Athleta’s designs are made to stand up to the toughest workouts while adding color to life and giving women true performance pieces with the perfect fit. That means empowering our designers (who also happen to be athletes) to create the stuff of their dreams and listening to our customers when they offer insights. Plus, we road-test, court-test and water-test everything ourselves to be sure each item we offer features the perfect balance of performance and style. Because it’s not good enough if it just looks good. Athleta’s apparel is only good enough if it looks really, really good and works even better.</p>

    <p>At Athleta, we’re proud to partner with organizations and athletes that inspire us. Our partnership with the non-profit program Girls on the Run encourages a healthy lifestyle in preteen girls through running. And, we sponsored the Women’s USA Water Polo Team as they played their way to gold in the 2012 London Olympics.</p>

    <p>Athleta is all about celebrating the amazing female force. Embracing the full breadth of a woman’s life, from family to work to sport to play. Athleta is about motivating others. Thriving on the active lifestyle. Tapping into our collective power as a community. Wanting it all, doing it all, and inspiring others to be the best possible versions of themselves that they can be. Athleta exists to unleash the power of active women. Power to the She.<p>
  </div>
  </div>

  <div class= "athleta_img">
    <%=image_tag('athleta/athleta.jpg')%>
  </div>
</div>