<div id= "br_container">
  <div class= "br_description">
    <div class= "br_banner">
      <%=image_tag('br_banner.png') %>
    </div>
  <div class= "br_par">
    <h1>Banana Republic</h1>
    <p>Banana Republic helps our customers achieve what’s most meaningful to them as personal and professional lives blend together in the world we call new work.</p>

    <p>Our Brand North Star is <b>ACHIEVEMENT</b>:</p>

    <p>Potential realized in moments big and small – a well delivered speech, a new job, dinner with friends, a kiss, a family, the life you seek.</p>

    <p>Our Brand Essence is:</p>

    <p><b>MODERN</b>: Contemporary and trend-right while grounded in the classic, modern is cosmopolitan, sophisticated and in the know.
    COVETABLE: More than high quality, more than meticulous attention to detail, more than surprising touches: it’s how it all adds up to that special something that delights.</p>

    <p><b>ACCESSIBLE</b>: Within reach, in every sense – affordable, easy to use, versatile and ready to go.</p>

    <p><b>JOYFUL</b>: The exuberance of being alive – enjoying the journey, not just the destination. Joy is optimistic, expressed from the heart, and can be playful, even witty.</p>
  </div>
  </div>

  <div class= "br_img">
    <%=image_tag('br.jpg')%>
  </div>
</div>