<div id= "gap_container">
  <div class= "gap_description">
    <div class= "gap_banner">
      <%=image_tag('gap_banner.png') %>
    </div>
  <div class= "gap_par">
    <h1>GAP</h1>
    <p>Clean. Classic. American design. These words described Gap four decades ago and still hold true today. </p>

    <p>At our best, we inspire customers with individual style and make classics relevant for today through our use of bold color, emotional details and great fits.
    With a clear brand vision and effortlessly cool product, Gap is re-connecting with its target customer—men and women ages 25 to 35 looking to express their unique, personal style. </p>

    <p>Across each Gap sub-brand, we continue to evolve our assortments with a focus on what we’ve always been famous for: the best of casual style.</p>

    <p>More than anything, though, Gap has been known for its connection to pop culture. In 2008, Gap launched innovative and relevant campaigns such as the Artist Edition T-shirts, showcasing designs by distinguished artists, and our non-partisan VOTE campaign, timed to coincide with the historic U.S. presidential election. </p>

    <p>Innovation extends to our GapKids and babyGap businesses, as well. The launch of babyGap home products and the popular Junk Food graphic T-shirts helped bring fresh choices to our customers. And, we added GapBody collections to more than 500 stores.</p>

    <p>As we celebrate our 40-year heritage, Gap is committed to staying relevant by continuing to give our customers Gap classics, invented and re-invented for right now. </p>
  </div>
  </div>

  <div class= "gap_img">
    <%=image_tag('gap.jpg')%>
  </div>
</div>