<div id= "intermix_container">
  <div class= "intermix_description">
    <div class= "intermix_banner">
      <%=image_tag('intermix/intermix_banner.png') %>
    </div>
  <div class= "intermix_par">
    <h1>Intermix</h1>
    <p>Established in 1993, Intermix is a multi-brand fashion retailer with a compelling and unique point-of-view. Intermix offers a curated mix of on-trend, irresistible pieces that celebrate each customer's personal sense of style with an intimate, individualized approach at more than 30 boutiques across the United States and Canada and online at <a href="http://www.intermixonline.com."></a> The assortment focuses on the most exciting fashion trends and the finest mix of emerging and established designers.</p>

    <p>Intermix is regarded for its philosophy of mixing fashionable pieces in unexpected ways, offering the most coveted designers and sought-after styles from the industry's best brands. In addition to its vast array of seasonal must-haves, Intermix sets itself apart by offering a broad array of exclusive designer products.  Intermix was acquired by Gap Inc. (NYSE: GPS) in December 2012 and is part of the Growth, Innovation and Digital division.</p>

    <p>Intermix offers the most sought-after styles from an edited selection of coveted designers. Renowned for our philosophy of mixing on-trend pieces in unexpected ways, INTERMIX delivers a unique point of view and an individualized approach to shopping and personal style.</p>

    <p>In addition to our e-commerce destination, Intermix boasts 35 plus boutiques across the United States and Canada, offering a thoughtfully curated mix of emerging and established designers; the most exciting, of-the-moment styles; and the latest must-haves of the season. Each boutique's assortment is hand-selected to reflect the neighborhood and the lifestyles of our clients, while various designers and discoveries are presented side-by-side throughout the store.</p>
  </div>
  </div>

  <div class= "intermix_img">
    <%=image_tag('intermix/intermix.jpg')%>
  </div>
</div>