<div id= "on_container">
  <div class= "on_description">
    <div class= "on_banner">
      <%=image_tag('on_banner.png') %>
    </div>
  <div class= "on_par">
    <h1>Old Navy</h1>
    <h2>Brand Platform</h2>
      <p>Imagine a place where you can find all of your wardrobe 'must-have's' at prices you can’t believe. Everything from your favorite t-shirts and jeans to your seasonal fashion faves. A place where every family member is invited no matter what their size. Where everything has great style and quality and the shopping experience is actually fun, not a chore. That place is Old Navy. Making current American fashion essentials accessible to every family.</p>

      <p><b>Founded:</b> 1994 (named after a bar in Paris)<p>
      <p><b>Retail record:</b> In 1997, became first retailer to reach $1 billion in annual sales in less than four years of operation.</p>
  </div>
  </div>

  <div class= "on_img">
    <%=image_tag('old-navy.jpg')%>
  </div>
</div>