	<div class= "brand_container">
		<div class="brand_banner">
			<%= image_tag @brand.banner %>
		</div>
		<div class="brand_description">
      <h1><%= @brand.name %></h1>
      <%= @brand.description.html_safe %>
		</div>
	</div>
